{% extends "base.html" %}

{% block title %}POST Details{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div style="width: 50%; margin: auto">
    <div class="col-sm-12 mb-6 mb-sm-4">
        <div class="card">
            <div class="card-body">
                <!-- post mean app name -->
                <img src="{{post.image.url}}" class="card-img-top" alt="user image">
                <h4 class="card-title">{{post.title}}</h4>
                <p class="card-text">{{post.content}}</p>
                <h5 class="card-title">Author: {{post.author.first_name}} {{post.author.last_name}}</h5>
                <div class="mb-2">
                    Categories : -
                    {% for j in post.category.all %}
                    <button class="btn btn-primary" disabled>{{j.name}}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card container mt-5 mb-5 pt-3 bg-body-secondary">
    <h5>Total comments : {{comments | length}}</h5>
    <div class="card-body">
      {% for c in comments %}
      <div class="card text-center m-3">
        <div class="card-header">
           {{c.name}}
        </div>
        <div class="card-body">
          <p class="card-text">{{c.body}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-body-secondary">
          {{c.created_on}}
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

<div class="card container mt-5 mb-5 bg-body-secondary">
    <div class="card-body">
      
      <h1>Add comments</h1>
      <form method="post">
          {% csrf_token %}
          {{comment_form | crispy}}
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock content %}